@model lab5._1.Models.dthMenber

@{
    ViewBag.Title = "Sử dụng html validate data";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h2> Thêm thành viên</h2>
    <hr />
    <div class="form-group">
        @Html.Label("Mã thành viên", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ID, new { Required = "Required", type = "number" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tên đăng nhập", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Username, new { Required = "Required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Họ và tên", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Fullname, new { Required = "Required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mật khẩu", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { Required = "Required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tuổi", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Age, new { Required = "Required", type = "number", min = "18", max = "60" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Email", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { Required = "Required", type = "email"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
