@model lab5._1.Models.dthMenber

@{
    ViewBag.Title = "Kiêm tra dữ liệu cách 2";
}

<h2>Kiêm tra dữ liệu cách 2</h2>
@if(ViewBag.error == null)
            {
                <div class="alert alert-danger" >@ViewBag.error</div>
            }


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.Label("ID", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ID)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Tên đăng nhập", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Username)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Họ và tên", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Fullname)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mật khẩu", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Password)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tuổi", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Age)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Email", new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Email)

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
